.gradle/
build/
# Third-party jars are not stored; the Gradle wrapper jar is the exception
*.jar
!gradle/wrapper/gradle-wrapper.jar
# Kotlin plugin cache
/.kotlin/
/.idea/
/.tasks/
/*-out.txt
/*-err.txt
# jqwik database with the seeds of failed property tests
/.jqwik-database
/core/.jqwik-database
# Kotlin plugin cache in subprojects
/*/.kotlin/
